<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
</head>
<style>
    .box{
        height: 100px;
        width: 100px;
        display: inline-block;
    }
</style>
<body>
    {% for i in range(num_repeat): %}
        {% for j in range(num_repeat): %}
            {% if (i%2==0 and j%2==0) or (i%2==1 and j%2==1): %}
                <div class="box" style="background-color: black">

                </div>
            {% else: %}
                <div class="box" style="background-color: brown;">

                </div>
            {% endif %}
        {% endfor %}
        <br/>
    {% endfor %}
</body>
</html>